@import '../utils.scss';

.shop-container {
    padding: 30px 0;

    @include flexbox;
    @include flex-direction(column);

    @include respond-to('medium') {
        @include flex-direction(row);
    }
}

.left-column {
    width: 100%;
    padding: 0 15px;
    @include respond-to('medium') {
        max-width: 25%;
    }
}

.right-column {
    width: 100%;
    padding: 0 15px;

    @include respond-to('medium') {
        max-width: 75%;
    }
}
