@import '../../utils.scss';

.container-shop-menu {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(flex-start);

    button {
        background: transparent;
        color: $inactive-gray;
        border: none;
        max-width: 100%;
        margin: 0.6vh 0px;
        font-size: 1.1rem;
        text-align: start;
        font-family: $serif-font-family;

        &:hover {
            cursor: pointer;
        }

        &.selected-option {
            font-weight: $extra-bold-fw;
            font-size: 1.2rem;
            color: $white !important;
            pointer-events: none;
        }
    }
}
