@import './utils';

/* Fonts */
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-Italic.ttf');
    font-weight: $regular-fw;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-Regular.ttf');
    font-weight: $regular-fw;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-MediumItalic.ttf');
    font-weight: $medium-fw;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-Medium.ttf');
    font-weight: $medium-fw;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-SemiBoldItalic.ttf');
    font-weight: $semi-bold-fw;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-SemiBold.ttf');
    font-weight: $semi-bold-fw;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-BoldItalic.ttf');
    font-weight: $bold-fw;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-Bold.ttf');
    font-weight: $bold-fw;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-ExtraBoldItalic.ttf');
    font-weight: $extra-bold-fw;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: $serif-font;
    src: url('/fonts/EB_Garamond/static/EBGaramond-ExtraBold.ttf');
    font-weight: $extra-bold-fw;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $cursive-font;
    src: url('/fonts/Leckerli_One/LeckerliOne-Regular.ttf');
    font-weight: $regular-fw;
    font-style: normal;
    font-display: swap;
}

/* Base styling */
html,
body,
#__next,
html.swal2-shown.swal2-height-auto,
body.swal2-shown.swal2-height-auto,
#__next.swal2-shown.swal2-height-auto {
    padding: 0;
    margin: 0;
    height: 100% !important;
    min-height: 100%;

    font-family: $serif-font;
}

header,
nav {
    width: 100%;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.root {
    height: 100%;

    @include flexbox;
    @include flex-direction(column);
}

main {
    width: 100%;
    @include flex-grow(1);

    background-color: $dark-gray;
}

.main-content {
    width: 100%;
    max-width: 1600px;
    display: block;
    margin: 0 auto;
}

.main-content-margin {
    margin: 20px 7.5vw;

    @include respond-to('small') {
        margin: 20px 5vw;
    }
}

.main-content-padding {
    padding: 20px 7.5vw;

    @include respond-to('small') {
        padding: 20px 5vw;
    }
}
