{
    "semi": false,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "jsxSingleQuote": false
}
