@import '../utils.scss';

.containerShopMenu {
    max-width: 12vw;
    position: relative;
    left: 10vw;
    top: 4vh;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    button {
        background: transparent;
        color: $inactive-gray;
        border: none;
        max-width: 100%;
        margin: 0.6vh 0px;
        font-size: 1.1rem;
        text-align: start;
        //font-family: $serif-font-family;
        &:hover {
            cursor: pointer;
        }
    }
}

.selectedOption {
    font-weight: $extra-bold-fw;
    color: $white !important;
}
